/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

// css reset

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap')

*, *::before, *::after
  text-decoration: none
  box-sizing: border-box

body
  overflow-x: hidden
  font-family: 'Roboto', sans serif

.header
  height: 100vh
  background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true') no-repeat center center/ cover
  color: #FFFFFF
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-style: italic
  padding: 384px 0 268px
  font-weight: 900
  
@for $i from 1 through 10
  .fz-#{$i}
    font-size: #{$i * 8}px

.fz-20
  font-size: 20px
.slogan
  line-height: 30px
.subtitle
  line-height: 36px

.text-center
  text-align: center

.bg-dark
  color: #ffffff
  background-color: #000
.color-white
  color: #ffffff

$marginTypes: mb, mt, mx, 'mr'
@each $type in $marginTypes
  @for $i from 1 through 10
    @if $type == mb
      .#{$type}-#{$i}
        margin-bottom: #{$i * 8}px
    @else if $type == mt
      .#{$type}-#{$i}
        margin-top: #{$i * 8}px
    @else if $type == mx
      .#{$type}-#{$i}
        margin-left: #{$i * 8}px
        margin-right: #{$i * 8}px
    @else if $type == mr
      .#{$type}-#{$i}
        margin-right: #{$i * 8}px
.mx-auto
  margin-left: auto
  margin-right: auto
.photo
  display: block
.icons
  display: flex


.list
  li
    line-height: 42px

.img-list
  display: flex
  flex-wrap: wrap
.work
  .img-list
    img
      transition: .2s
      &:hover
        box-shadow: .5rem .5rem 1rem #888
      &:hover + p
        text-shadow: .5rem .5rem .5rem #888
    a
      p
        color: #000

.around
  justify-content: space-around
.between
  justify-content: space-between


.container
  width: 1200px
  margin: 0 auto
.about
  padding: 64px 0 56px
.container
  padding: 64px 0 160px
.footer
  padding: 64px 0 80px
  a
    &:hover
      color: #aaa
      text-decoration: underline
.ft-italic
  font-style: italic

.circle
  width: 384px
  margin: 0 auto
  border-top: 1px solid #000
  display: flex
  flex-direction: column
  align-items: center
  padding: 32px 21px 0
  li
    position: relative
    padding-left: 16px
    line-height: 42px
    &::before
      content: ''
      width: 22px
      height: 22px
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: -16px
      background-color:#891818
      border-radius: 50%
a
  transition: .2s